.product-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product-info h1 {
    font-size: 32px;
}

.product-info p {
    color: #666;
    line-height: 24 px;
    margin-top: 5px;
}

product-info p a {
    color: #069;
}

.button a {
    padding: 10px;
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    max-width: 80px;
}

.button a:hover{
    opacity: 0.7;
}